<launch>
    <arg name="localmap_x_size" default="14"/>
    <arg name="localmap_y_size" default="14"/>
    <arg name="resolution" default="0.1"/>
    <arg name="obs_height" default="0.4"/>
    <arg name="step_height" default="0.5"/>
    <arg name="DBSCAN_R" default="5.0"/>
    <arg name="DBSCAN_N" default="4"/>
    <arg name="enable_fov_filter" default="true"/>
    <arg name="fov_deg" default="70.0"/>
    <arg name="fov_range_min" default="0.2"/>
    <arg name="fov_range_max" default="7.0"/>
    <arg name="publish_fov_marker" default="true"/>
    <arg name="publish_visibility_occ" default="true"/>
    <arg name="visibility_occ_height_min" default="0.2"/>
    <arg name="visibility_occ_inflate_cells" default="1"/>
    <arg name="publish_static_risk_points" default="true"/>
    <arg name="static_risk_search_radius" default="1.2"/>

    <node pkg="local_map" type="local_map_pub" output="screen" name="local_map_pub">  
        <param name="localmap_x_size" value="$(arg localmap_x_size)"/>  
        <param name="localmap_y_size" value="$(arg localmap_y_size)"/>
        <param name="resolution" value="$(arg resolution)"/>
        <param name="obs_height" value="$(arg obs_height)"/>
        <param name="step_height" value="$(arg step_height)"/>
        <param name="DBSCAN_R" value="$(arg DBSCAN_R)"/>
        <param name="DBSCAN_N" value="$(arg DBSCAN_N)"/>
        <param name="enable_fov_filter" value="$(arg enable_fov_filter)"/>
        <param name="fov_deg" value="$(arg fov_deg)"/>
        <param name="fov_range_min" value="$(arg fov_range_min)"/>
        <param name="fov_range_max" value="$(arg fov_range_max)"/>
        <param name="publish_fov_marker" value="$(arg publish_fov_marker)"/>
        <param name="publish_visibility_occ" value="$(arg publish_visibility_occ)"/>
        <param name="visibility_occ_height_min" value="$(arg visibility_occ_height_min)"/>
        <param name="visibility_occ_inflate_cells" value="$(arg visibility_occ_inflate_cells)"/>
        <param name="publish_static_risk_points" value="$(arg publish_static_risk_points)"/>
        <param name="static_risk_search_radius" value="$(arg static_risk_search_radius)"/>
    </node>
</launch>
